
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f5f5f5;
    color: #303030;
    font-size: 15px;
}

.container-signin{
  background:url('../img/bg.jpg');
  background-size:cover;
  height: 120vh;
}

a{
    color: #4193d0;
}

.rit{
    float: right;
}

.lef{
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
    }

header {
  background-color: #3094e4;
    padding: 15px;
    text-align: center;
    overflow: hidden;
    color: #fff;
}

header a{
  text-decoration: none;
  color:#fff;
}
.row-signin{
  width: 90%;
  height: auto;
  margin:40px auto
}
.column {
    float: left;
    padding:10px;
}
.column.signin{
  width: 35%;
  padding: 30px;
  box-sizing: border-box;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
}
.signin{
  background-color:#ffffff;
  padding: 25px;
}
.signin.form{
  background-color:red;
  padding:20px;
}
.signin.signin-page{
  width:30%;
  margin: 0 auto
}

.signin-title{
  border-bottom:1px solid #f5f5f5;
  margin-bottom:20px;
  padding-bottom:4px;
}

.column.about{
    background: #e9eee8;
    width: 55%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}
.about h2{
  font-size:40px;
  text-align: center;
}
.about p{
  font-size: 22px;
  text-align: center;
  line-height: 2;
}
/* Clear floats after the columns */
.row-sigup:after {
    content: "";
    display: table;
    clear: both;
}

.blue-btn {
  border: none;
  color: #fff;
  background-color: #3094e4;
  padding: 6px 8px;
  font-size: 13px;
  margin-top: 0px !important;
}


input, textarea{
  padding: 10px 6px;
  width: 100%;
  box-sizing: border-box;
  border:1px solid #f2f2f2;
  border-radius: 0px;
  margin: 5px 0px;
  box-sizing: border-box;
  background-color: rgba(247, 247, 247, 0.38);
}
textarea{
  resize: none;
}

*:focus {
  outline-color: #eee;
}

.button{
display: block;
width:100%;
border:none;
color:#fff;
background-color: #4193d0;
padding: 10px 20px;
margin-top:10px;
font-size: 16px;
}

button:hover{
background-color: #2c79b2;
}

button.join{
width:100%;
border:none;
color:#fff;
background-color: #3bb419;
width: 40%;
height: 30%;
padding: 10px 15px;
font-size: 20px;
margin-top:30px;

}

button.join:hover{
background-color: #36a218;
}

button.join a{
    color: #fff;
    text-decoration: none;
}
/*Font-awesome style*/

.fa-user{
    color:#4193d0;
}
.fa-edit{
  color: #5d5d5d;
}
.fa-user.profile{
  color:#fff;
  font-size: 11px;
}

nav{
display: block;
}
nav.nav-signin{
background-color: #ffffff;
height: 50px;
}
ul li{
display: inline-block;
padding: 16px 16px;
}
ul li {
float:right;
}
nav li a{
text-decoration: none;
color: #4193d0;
font-size: 14px;
}
ul li:first-child{
float: left;
}

nav ul li:hover{
background-color:#f5f5f5;
height:18px;
}

.footer{
  background-color:#fff;
  position:fixed; 
  width: 100%; 
  bottom: 0;
  text-align: center;
  height:20px;
  padding-top:15px;
  padding-bottom: 15px;
}

.form-footer{
  font-size:13px;
  margin-top:15px;
}

.main-head{
  background-color: #3094e4;
  padding: 20px;
  text-align: center;
}

.main-nav {
  /* //overflow: hidden; */
  background-color: #3094e4;
  position: fixed;
  width:100%;

}

.main-nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 14px;
}

.main-nav a:hover{
  color:#fff;
  font-weight: 500;
}
.main-nav a{
  float:right;
}
.main-nav a:first-child{
  float: left;
}

  
.row{
  width: 100%;
  margin: 0 auto;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
  padding-top: 65px;
  }

.column-side-r {
  width:25%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  position: fixed;
  top:65px;
  right: 50px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  border-radius:2px;
}


.column-side-l {
  width:25%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  position: fixed;
  top:65px;
  left: 50px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  border-radius:2px;
}

.column-middle {
  width: 40%;
  background-color: #f2f2f2;
  border:1px solid #ececec;
  padding: 10px;
  box-sizing: border-box;
  margin: 0px auto;
}

#posted-question{
  padding: 10px;
/* border-bottom: 1px solid; */
box-sizing: border-box;
background-color: #fff;
border-radius: 2px;
border: 1px solid #ececec;
margin-bottom: 5px;
}
#posted-question a:hover{
  text-decoration: none;
  color: #2774b0;
}

#posted-question .content{
  margin: 10px 0px;
  padding: 10px 4px;
  border: 1px solid #f5f5f5;
  border-left: none;
  border-right: none;
  text-align: justify;
}

#posted-question .comment{
  margin: 10px 0px;
  padding: 6px 4px;
  border-top: 1px solid #f5f5f5;
}

#posted-question .card-footer a{
  text-decoration: none;
}

#posted-question .posted-by{
  font-size:13px;
  font-weight: 400;
  color: #5d5d5d;
}

#posted-question .posted-by a{
  text-decoration: none;
  color:#4193d0;
  font-size: 14px;
}

.posted-question-profile{
  font-size: 16px;  
}

.posted-question-meetups{
  font-size:16px;
}

.posted-question-meetups a{
  font-size:16px;
  text-decoration: none;
}

.posted-question-comments a{
  font-size:16px;
  text-decoration: none;
}

.mt-b{
  margin: 40px 0px !important;
}
.mt{
  margin-top:-5px;
}

.posted-question-comments{
  font-size:15px;
}
.card{
    padding: 10px;
  /* border-bottom: 1px solid; */
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.card-footer{
color: #5d5d5d;
font-size:13px;
}

.mr-10{
  margin-right:10px;
}
.card a{
text-decoration: none;
}
.card a:hover{
text-decoration: none;
color: #2774b0;
}
.card-side{
    padding: 10px;
  /* border-bottom: 1px solid; */
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 2px;
  margin-bottom: 15px;
  border: 1px solid #f5f5f5;
}
.card-side a{
text-decoration:none;
}

.card-footer-side{
margin-top: 15px;
font-size: 14px;
}

.meetup-card{
background-color:#fff; 
text-align:center; 
padding:10px 0px; 
margin-bottom:18px;
font-size:18px; 
font-weight: 600;
border-radius: 2px;
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.meetup-tags{
  margin: 4px 0px;
  font-size: 14px;
}
.meetup-tags .rit{
  font-size: 14px;
  color: #5d5d5d;
}

.tag{
    background-color: #ededed;
    font-size: 12px;
    padding: 2px 10px;
    border-radius: 8px;
    color: #5d5d5d;
    margin: 0px 4px
}

.meetup-title{
font-size: 16px;
font-weight: 600;
}



.meetup-title-page{
  font-size: 20px;
  font-weight: 600;
  }

.upcoming-meetup{
background-color:#fff; 
padding:10px 0px; 
margin-bottom:10px;
font-size:15px; 
font-weight: 400;
border-bottom: 2px solid #e5e5e5;
}

.upcoming-title{
font-size: 15px;
font-weight: 500;
}
.content{
  margin: 10px 0px;
  padding: 10px 4px;
  border: 1px solid #f5f5f5;
  border-left: none;
  border-right: none;
  text-align: justify;
}
.content .posted-by-location{
    display: block;
    font-size: 13px;
    margin-top: 10px;
    color: #5d5d5d;
}
.fa-question-circle.qu{
  color: #f86363;
  font-weight: 600;
}
.card a:hover .fa-question-circle{
  color:#dc4545;
}
.fas.ask{
color: #cbcbcb;
font-size: 13px;
}

.fa-discourse{
  color: #c6c6c6;
}
.card a:hover .fa-discourse{
  color:#a3a3a3;
}
.profile-name{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.view-profile a{
  font-size: 14px;
  text-decoration: none;
}
/* Media queries*/
@media screen and (max-width:698px) {
    .column.about{
        width: 100%;
        display: none;
    }
    .column.signin{
        width: 100%;
    }
    .signin.signin-page{
        width: 70%;
        padding: 20px;
        }
    .row-signin{
      width: 90%;
    }
    .about h2{
      font-size:40px;
      text-align: center;
    }
    .about p{
      font-size: 20px;
      text-align: center;
      line-height: 2;
    }
}
@media only screen and (min-width:698px) and (max-width:999px) {
  .column.signin{
    width: 45%;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
  }
  .signin.signin-page{
    width: 45%;
    padding: 30px;
  }
  .signin{
    background-color:#ffffff;
    padding: 25px;
  }
  .signin.form{
    padding:20px;
  }

  .column.about{
      width: 55%;
      padding: 10px;
      box-sizing: border-box;
  }
}
@media only screen and (min-width:1018px) and (max-width:1057px) {
  .column-middle{
    width: 40%;
    padding: 10px;

  }
  .column-side-r, .column-side-r{
      width: 25%;
      padding: 10px;

  }
  .row{
    width: 100%;
    /* padding: 20px 65px; */
    padding-top: 65px;
  }

}

@media only screen and (min-width:860px) and (max-width:1018px) {
  .column-middle{
    width: 40%;
    padding: 10px;
    margin: 0px auto;
  }
  .column-side-l, .column-side-r{
      width: 24%;
      padding: 10px;

  }
  .row{
    width: 100%;
    padding-top: 65px;
  }

}
@media screen and (max-width:860px) {
    .column-middle{
      padding-top: 10px;
    width: 100%;
    /* margin: 50px; */
    box-sizing: border-box;
    /* margin-top: 20px; */
    margin: 20px auto;
  }
  .column-side-l{
      position: initial;
      width: 100%;
      margin-top: 20px;
  }

  .column-side-r{
    display: none;
  }
  .row{
    width: 100%;
    padding-top:45px;
  }
}
