
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f5f5f5;
}

.container-signup{
  background:url('../img/bg.jpg');
  background-size:cover;
  height: 100vh;
}

a{
    color: #4193d0;
}

.rit{
    float: right;
}

.lef{
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
    }

header {
  background-color: #3094e4;
    padding: 15px;
    text-align: center;
    overflow: hidden;
    color: #fff;
}

.row-signup{
  width: 90%;
  height: auto;
  margin:50px auto
}
.column {
    float: left;
    padding:10px;
}
.column.signup{
  width: 35%;
  padding: 30px;
  box-sizing: border-box;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
}
.signup{
  background-color:#ffffff;
  padding: 25px;
}
.signup.form{
  background-color:red;
  padding:20px;
}
.signup.signup-page{
  width:30%;
  margin: 0 auto
}

.signup-title{
  border-bottom:1px solid #f5f5f5;
  margin-bottom:20px;
  padding-bottom:4px;
}

.column.about{
    background: #e9eee8;
    width: 55%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}
.about h2{
  font-size:40px;
  text-align: center;
}
.about p{
  font-size: 22px;
  text-align: center;
  line-height: 2;
}
/* Clear floats after the columns */
.row-sigup:after {
    content: "";
    display: table;
    clear: both;
}

.blue-btn {
  width: 30%;
  border: none;
  color: #fff;
  background-color: #3094e4;
  padding: 6px 8px;
  font-size: 14px;
  margin-top: 5px !important;
}


input, textarea{
  padding: 10px 6px;
  width: 100%;
  /* overflow: hidden; */
  box-sizing: border-box;
  border:1px solid #f2f2f2;
  border-radius: 0px;
  margin: 10px 0px;
  box-sizing: border-box;
  background-color: rgba(247, 247, 247, 0.38);
}
textarea{
  resize: none;
}

.button{
display: block;
width:100%;
border:none;
color:#fff;
background-color: #4193d0;
padding: 10px 20px;
margin-top:10px;
font-size: 16px;
}

button:hover{
background-color: #2c79b2;
}

button.join{
width:100%;
border:none;
color:#fff;
background-color: #3bb419;
width: 40%;
height: 30%;
padding: 10px 15px;
font-size: 20px;
margin-top:30px;

}

button.join:hover{
background-color: #36a218;
}

button.join a{
    color: #fff;
    text-decoration: none;
}
/*Font-awesome style*/

.fa-user{
    color:#4193d0;
    font-size: 15px;
}
.fa-user.profile{
  color:#fff;
  font-size: 11px;
}

nav{
display: block;
}
nav.nav-signup{
background-color: #ffffff;
height: 50px;
}
ul li{
display: inline-block;
padding: 16px 16px;
}
ul li {
float:right;
}
nav li a{
text-decoration: none;
color: #4193d0;
font-size: 14px;
}
ul li:first-child{
float: left;
}

nav ul li:hover{
background-color:#f5f5f5;
height:18px;
}

.footer{
text-align: center;
background-color: #ffff;
clear: both;
height: 40px;
width: auto;
position: fixed;
padding-top: 20px;
left: 0;
bottom: 0;
width: 100%;
margin-top: 50px;
color: #454545;
font-size: 14px;
}
.form-footer{
    font-size:14px;
    margin-top:15px;
}

.main-head{
  background-color: #3094e4;
  padding: 20px;
  text-align: center;
}

.main-nav {
  overflow: hidden;
  background-color: #3094e4;
}

.main-nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}

.column {
  float: left;
  padding: 10px;
  box-sizing: border-box;
  margin: 0px auto;
  background-color: #fff;
  
}


.column.side {
  width: 25%;
  margin: 0px 25px;
  border: 1px solid #ececec;
}

.column.middle {
  width: 40%;
  background-color: #f2f2f2;
  border:1px solid #ececec;
}

.row{
width: 100%;
margin: 0 auto;
height: auto;
padding: 20px;
box-sizing: border-box;
}

.main-nav a{
float:right;
}
.main-nav a:first-child{
float: left;
}

#posted-question{
  padding: 10px;
/* border-bottom: 1px solid; */
box-sizing: border-box;
background-color: #fff;
border-radius: 2px;
border: 1px solid #ececec;
}
#posted-question .content{
  margin: 17px 0px;
  padding: 6px 4px;
  border: 1px solid #f5f5f5;
  border-left: none;
  border-right: none;
}

#posted-question .comment{
  margin: 17px 0px;
  padding: 6px 4px;
  border-top: 1px solid #f5f5f5;
}

#posted-question .card-footer a{
  text-decoration: none;
}

#posted-question .posted-by{
  font-size:14px;
  font-weight: 400;
}

#posted-question .posted-by a{
  text-decoration: none;
  color:#454545;
}

.posted-question-profile{
  font-size: 20px;  
}

.posted-question-meetups{
  font-size:15px;
}

.mt-b{
  margin: 40px 0px !important;
}

.posted-question-comments{
  font-size:15px;
}
.card{
    padding: 10px;
  /* border-bottom: 1px solid; */
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #ececec;
}
.card-footer{
color: #434343;
font-size:14px;
}

.card a{
text-decoration: none;
}
.card a:hover{
text-decoration: none;
color: #207cc4;
}
.card-side{
    padding: 10px;
  /* border-bottom: 1px solid; */
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 2px;
  margin-bottom: 15px;
  border: 1px solid #f5f5f5;
}
.card-side a{
text-decoration:none;
}

.card-footer-side{
margin-top: 15px;
font-size: 14px;
}

.meetup-card{
background-color:#fff; 
text-align:center; 
padding:10px 0px; 
margin-bottom:18px;
font-size:25px; 
font-weight: 600;
border-bottom: 4px solid #3094e4;

}

.meetup-title{
font-size: 20px;
font-weight: 500;
}

.meetup-title-page{
  font-size: 20px;
  font-weight: 600;
  }

.upcoming-meetup{
background-color:#fff; 
padding:10px 0px; 
margin-bottom:10px;
font-size:15px; 
font-weight: 400;
border-bottom: 2px solid #e5e5e5;
}

.upcoming-title{
font-size: 15px;
font-weight: 500;
}
.content{
  margin: 17px 0px;
  padding: 18px 4px;
  border: 1px solid #f5f5f5;
  border-left: none;
  border-right: none;
  text-align: justify;
}

.fa-question-circle.qu{
  color: #f86363;
  font-weight: 600;
  font-size: 13px;
  margin-right: 20px;
}
.fas.ask{
color: #cbcbcb;
font-size: 13px;
}
.fa-comment-alt{
  color: #cbcbcb;
  font-weight: 600;
  font-size: 12px;
  margin-right: 20px
}

.profile-name{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.view-profile a{
  font-size: 14px;
  text-decoration: none;
}
/* Media queries*/
@media screen and (max-width:698px) {
    .column.about{
        width: 100%;
        display: none;
    }
    .column.signup{
        width: 100%;
    }
    .signup.signup-page{
        width: 70%;
        padding: 20px;
        }
    .row-signup{
      width: 90%;
    }
    .about h2{
      font-size:40px;
      text-align: center;
    }
    .about p{
      font-size: 20px;
      text-align: center;
      line-height: 2;
    }
}
@media only screen and (min-width:698px) and (max-width:999px) {
  .column.signup{
    width: 45%;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
  }
  .signup.signup-page{
    width: 45%;
    padding: 30px;
  }
  .signup{
    background-color:#ffffff;
    padding: 25px;
  }
  .signup.form{
    background-color:red;
    padding:20px;
  }

  .column.about{
      width: 55%;
      padding: 10px;
      box-sizing: border-box;
  }
}
@media only screen and (min-width:1018px) and (max-width:1057px) {
  .column.middle{
    width: 40%;
    padding: 10px;
    
  }
  .column.side{
      width: 25%;
      padding: 10px;

  }
  .row{
    width: 100%;
    padding: 20px 0px;
  }

}

@media only screen and (min-width:860px) and (max-width:1018px) {
  .column.middle{
    width: 40%;
    padding: 10px;
    
  }
  .column.side{
      width: 24%;
      padding: 10px;

  }
  .row{
    width: 100%;
    padding: 20px 0px;
  }

}
@media screen and (max-width:860px) {
    .column.middle{
      padding-top: 10px;
    width: 80%;
    margin: 50px;
    box-sizing: border-box;
    margin-top: 20px;
    
  }
  .column.side{
      display: none;
  }
  .row{
    width: 100%;
    padding: 10px 0px;
  }
}
